@keyframes menuOpen {
    0%{
        background: none;
        width: 3rem;
    }
    50%{
        background: white;
        width: 30%;
        height: 3rem;
    }
    100%{
        background: white;
        width: 30%;
        height: 10rem;
    }
}

@keyframes menuOpenSmall {
    0%{
        background: none;
        width: 3rem;
    }
    50%{
        background: white;
        width: 30%;
        height: 3rem;
    }
    100%{
        background: white;
        width: 100%;
        height: 10rem;
    }
}

@keyframes showButtonsInMenu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.menu{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.menu span{
    width: 2rem;
    height: 1px;
    background: white;
}

.openedMenu{
    animation-name: menuOpen;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.innerOpen{
    opacity: 0;
    animation-name: showButtonsInMenu;
    animation-delay: 0.7s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    row-gap: 0.5rem;
    color: var(--text);
    position: relative;
}

.innerOpen > span{
    height: 2rem;
    font-weight: 600;
    font-size: larger;
}

.innerOpen-sectionConteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.innerOpen-sectionConteiner > div{
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    width: 50%;
    justify-content: space-evenly;
}

.innerOpen-close{
    position: absolute;
    right: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: black;
    font-size: larger;
}

.innerOpen-close:hover{
    color: var(--text);
    text-shadow: 2px 1px var(--blue);
}

@media only screen and (max-width: 825px) {
    .openedMenu{
        animation-name: menuOpenSmall;
    }
    .characterStats{
        flex-direction: column;
        gap: 0.5rem;
        height: unset;
        padding: 1rem 0;
    }
    .player-main-info{
        width: 100%;
    }
    .player-main-info > img{
        height: 10rem;
    }
    .cechaBox{
        width: 7rem;
        height: 7rem;
        font-size: x-large;
    }
    .player-main-info-expAndName > p{
        font-size: xx-large;
    }
    .player-main-info-lvlAndGalopy-item{
        font-size: large;
    }
}