.loginForm, .loginForm > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.loginForm > div label{
    display: flex;
    gap: 0.5rem;
}

.wrongLogin{
    color: red;
    font-style: italic;
}