.loginForm{
    font-size: 30px;
    border: 2px solid rgb(121,91,137);
    margin: auto;
    width: min-content;
    padding: 1rem;
    border-radius: 15px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background: black;
    height: 320px;
    position: relative;
    overflow: hidden; 
}

.loginForm > span{
    font-size: 55px;
}

.loginForm, .loginForm > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.loginForm > div label{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: start;
}

.wrongLogin{
    color: red;
    font-style: italic;
}

.loginForm input{
    border-radius: 45px;
    width: 50vw;
    height: 1.5rem;
    background: black;
    font-size: 30px;
    padding: 0 1rem;
    transform: translateY(-50%);
}

.loginForm label:last-child input{
    font-size: 15px;
}

.loginForm *[role="submit"]{
    background: rgb(121,91,137,0.35);
    padding: 0.5rem 1rem;
}

.animated-border-box-container{
    width: 100vw;
    display: flex;
    padding: 10px 0;
    overflow: hidden; 
}

.animated-border-box-glow{
    z-index: -1;
    position: absolute;
    transform: translateY(calc(-100% + 5px)) translateX(calc(25% - 10px));
    height: 356px;
    border-radius: 15px;
    width: 270px;
    padding: 5px;
    /* left:0; */
    display: flex;
    margin: auto;
}

.animated-border-box:after {
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 10px;
	top: 10px;
  /* double the px from the border width left */
	width: calc(100% - 20px);
	height: calc(100% - 20px);
  /*bg color*/
	background: #292a2e;
  /*box border radius*/
	border-radius: 7px;
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

.animated-border-box:before, .animated-border-box-glow:before {
    content: '';
    overflow: hidden;
    z-index: -1;
    text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
      width: 99999px;
      height: 99999px;
      background-repeat: no-repeat;
      background-position: 0 0;
    /*border color, change middle color*/
      background-image: conic-gradient(rgba(0,0,0,0), rgb(121,91,137), rgba(0,0,0,0)25%);
    /* change speed here */
      animation: rotate 6s linear infinite;
      border-radius: 15px;
      box-shadow: 1px 1px 1px white;
  }

  .animated-border-box-glow{
    overflow: hidden;
    /* Glow Blur */
    /* filter: blur(20px); */
  } 




  