.diceIcon{
    width: 2rem;
}

.singleTalent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.allTalenty div.singleTalent{
    border: 1px solid;
    border-radius: 45px;
    box-shadow: 1px 1px 10px black;
    height: 32px;
}

.allTalenty div .singleTalent img{
    display: none;
}