.toShowButton + div{
    display: none;
}

.showedButton + div{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.showedButton + div > div{
    width: 33.3333%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.showedButton + div > div > button{
    position: absolute;
    top: 0;
    right: 0;
}

.showedButton + div > div > *:not(button){
    height: 33.3333%;
    width: 100%;
}

.showedButton + div .backGround{
    background: black;
    opacity: 0.5;
}