.toShowButton + div{
    display: none;
}

.showedButton + div{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.showedButton + div .backGround{
    background: black;
    opacity: 0.5;
}