.characterStats{
    display: flex;
    height: 10rem;
}

.characterStats img{
    height: 100%;
}

.player-main-info{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.player-main-info-expAndName{
    padding: 0 1rem;
}

.player-main-info-expAndName p{
    color: var(--text);
    font-weight: 500;
    font-size: larger;
}

.player-main-info-expAndName span{
    font-weight: 600;
    font-size: x-large;
}

.player-main-info-lvlAndGalopy{
    display: flex;
    flex-direction: column;
    height: 10rem;
}

.player-main-info-lvlAndGalopy-item{
    height: 45%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.stats, .slider{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    margin: auto;
    gap: 0.5rem;
    align-items: center;
}

.nameRaceAndA{
    display: flex;
    flex-direction: column;
}

.expLvlHajs > div{
    display: flex;
}

.expLvlHajs div span{
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 90px;
}

.expLvlHajs div img{
    height: 100%;
    width: 2rem;
}

.expLvlHajs div:not(:last-child) img{
    transform: scale(1.5);
}

.expLvlHajs > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}