.characterStats{
    display: flex;
    height: 10rem;
    /* margin: 0 0 3rem 0; */
}

.characterStats img{
    height: 100%;
}

.player-main-info{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.player-main-info-expAndName{
    padding: 0 1rem;
}

.player-main-info-expAndName p{
    color: var(--text);
    font-weight: 500;
    font-size: larger;
}

.player-main-info-expAndName span{
    font-weight: 600;
    font-size: x-large;
}

.player-main-info-lvlAndGalopy{
    display: flex;
    flex-direction: column;
    height: 10rem;
}

.player-main-info-lvlAndGalopy-item{
    height: 45%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.stats, .slider{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    margin: auto;
    gap: 0.5rem;
    align-items: center;
}

.nameRaceAndA{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.expLvlHajs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.expLvlHajs > div{
    display: flex;
}

.expLvlHajs div img{
    height: 100%;
    width: 2rem;
}

.expLvlHajs div:nth-child(2) img{
    scale: 1.2
}

.expLvlHajs div:last-child img{
    filter: brightness(1) saturate(1) sepia(100%) saturate(0) hue-rotate(288deg) brightness(11);
}

.expLvlHajs div:not(:last-child) img{
    transform: scale(1.5);
    filter: invert(1)
}

.expLvlHajs > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 90px;
    background: rgb(121,91,137,0.5);
    /* opacity: 0.5; */
}

.expLvlHajs > div > div span{
    font-weight: 700;
}

img[alt="drut"]{
    /* position: absolute; */
    /* top: -5rem; */
    /* left: 0; */
    /* heigh: 15px; */
    margin: 5px 0;
    /* transform: scale(1.255); */
}

.nameRaceAndA > div{
    display: flex;
    gap: 5px;
}