.mainCechy{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

@keyframes showAsMove {
    from{
        transform: 
            perspective(1000px)
            rotateX(-16deg)
            rotateY(0deg)
    }
    to{
        transform: 
            perspective(1000px)
            rotateX(-16deg)
            rotateY(360deg)
    }
}

@media only screen and (max-width: 825px) {
    .stats{
        position: relative;
        overflow: hidden;
        width: max(80vw, 350px);
        height: 20rem;
        text-align: center;
    }
    
    .slider{
        position: absolute;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        animation: showAsMove 15s linear infinite;
        width: 200px;
        height: 250px;
        left: calc(50% - 100px)
    }

    .stats:hover .slider{
        animation-play-state: paused;
    }
    
    .cechaBox{
        /* position: absolute; */
        inset: 0 0 0 0;
        left: calc(50% - 3.5rem);
        transform: 
            rotateY(calc( (var(--showAs) - 1) * (360 / var(--howManyCechy) * 1deg)))
            translateZ(min(calc(50px + 20vw), 200px))
            ;
        box-shadow: 0px 0px 20px 5px black;
    }

    .cechaBox:nth-child(n+4){
        display: flex;
    }

}

