.cechaBox{
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    /* justify-content: space-between; */
    /* justify-items: ; */
    align-content: center;
    width: 5rem;
    height: 5rem;
    justify-content: space-evenly;
}

.cechaBox:nth-child(n){
    background: violet;
}