.cechaBox{
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    /* justify-content: space-between; */
    /* justify-items: ; */
    align-content: center;
    width: 60%;
    height: 6rem;
    justify-content: space-evenly;
    color: var(--text);
    font-weight: 500;
    font-size: x-large;
    background: var(--violet);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    color:black;
    /* opacity: 0.7; */
    background: rgb(121,91,137,0.5);
}

.cechaBox img{
    width: 6rem;
}

.cechaBox div{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}
/* 
.cechaBox:nth-child(3n+1){
    background: var(--blue);
}

.cechaBox:nth-child(3n+2){
    background: var(--violet);
}

.cechaBox:nth-child(3n){
    background: var(--pink);
}

.cechaBox:nth-child(n+4){
    display: none;
} */