.cechaBox{
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    /* justify-content: space-between; */
    /* justify-items: ; */
    align-content: center;
    width: 60%;
    height: 6rem;
    justify-content: space-evenly;
    color: var(--text);
    font-weight: 500;
    font-size: larger;
    background: var(--violet);
}
/* 
.cechaBox:nth-child(3n+1){
    background: var(--blue);
}

.cechaBox:nth-child(3n+2){
    background: var(--violet);
}

.cechaBox:nth-child(3n){
    background: var(--pink);
}

.cechaBox:nth-child(n+4){
    display: none;
} */